.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}
.input {
  padding: 8px 12px;
  border: 1px solid #d0cfcf;
  color: #7e7e7e;
  border-radius: 8px;
  font-family: Nunito;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  height: 54px;
}

.inputError {
  border: 1px solid #dc3545;
}

.phonePlaceholder {
  position: absolute;
  top: 120%;
  left: 12px;
  transform: translateY(-50%);
  color: #7e7e7e;
  font-size: 12px;
  line-height: 26px;
  font-family: Nunito;
}
